<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalApp">
        <activity
            android:name=".DeleteProject"
            android:exported="false"
            android:theme="@style/Theme.DeleteProject"/>
        <activity
            android:name=".EditarPerfil"
            android:exported="false"
            android:theme="@style/Theme.EditarPerfil" />
        <activity
            android:name=".ProjectActivity"
            android:exported="false"
            android:theme="@style/Theme.Project" />
        <activity
            android:name=".UploadProject"
            android:exported="false"
            android:theme="@style/Theme.Upload"/>
        <activity
            android:name=".Profile"
            android:exported="false"
            android:theme="@style/Theme.Profile"/>
        <activity
            android:name=".Search"
            android:exported="false"
            android:theme="@style/Theme.Search"/>
        <activity
            android:name=".Lector"
            android:exported="false"
            android:theme="@style/Theme.Lector"/>
        <activity
            android:name=".Home"
            android:exported="false"
            android:theme="@style/Theme.Home"/>
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:theme="@style/Theme.SignUp"/>
        <activity
            android:name=".LogIn"
            android:exported="false"
            android:theme="@style/Theme.Login"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Inicio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>